<h1>Splash#index</h1>
<p>Find me in app/views/splash/index.html.erb</p>

    <div>
      <div><%= link_to "LOG IN", new_user_session_path %></div>
      <div><%= link_to "SIGN UP", new_user_registration_path %></div>
    </div>
